{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
content%}
<!-- Login form -->
<form action=""
      method="post">
  <!-- title -->
  <h3 align="center">login</h3>
  <!-- Email                                         -->
  <div class="form-group">
    <label for="email">Email Address</label>
    <input class="form-control"
           type="email"
           name="email"
           id="email"
           placeholder="Enter email" />
  </div>
  <!-- Password                                          -->
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control"
           type="password"
           name="password"
           id="password"
           placeholder="Enter Password" />
  </div>
  <br />
  <!-- Submit button                                    -->
  <button type="submit"
          class="btn btn-primary">
    Login
  </button>
</form>
<p>Don't have a account? <a href="/signup">Sign up</a></p>
{% endblock %}